#paral{
    color: aqua;
}
boby{
   background-image: url("https://images.pexels.com/photos/13240704/pexels-photo-13240704.jpeg?cs=srgb");
   
   
     background-repeat: repeat;
      background-repeat: repeat-x;
       background-repeat: repeat-y;
        background-repeat:no-repeat;
}
h4{
    color: darkmagenta;
    font-family: sans-serif;
    font: size 500px;
text-transform: capitalize;
text-transform: uppercase;
text-transform: lowercase;
white-space: nowrap;
word-spacing: 10px;
letter-spacing: 3px;
line-height: 100px ;
}